body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 21px;
  color: rgb(51, 51, 51);
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
  background-color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.main-header{
  min-height: 56px;
}

.main-navigation {
    margin-left: 73px;
    margin-right: 73px;
    font-size: 14px;
    line-height: 26px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans" "DIN Pro" sans-serif;
}

.main-navigation ul {
  margin-top: -20px;
}

.navigation-element {
    width: 240px;
    list-style: none;
    min-height: 56px;
}

.navigation-element a {
  display: inline-block;
  padding-top: 10px;
}

.left-navigation {
    float: left;
    text-align: left;
}

.right-navigation {
    float: right;
    text-align: right;
}

.index-logo {
  position: absolute;
  top: 0px;
  left: 560px;
}

.promo-picture {
  background-image: url(../img/mainphoto.jpg);
  width: 1200px;
  height: 564px;
}

.promo-block {
  background-color: rgb(255,255,255);
  width: 1200px;
  min-height: 250px;
  margin-top: 50px;
}

.promo {
  width: 525px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.reason-picture {
   min-height: 256px;
   margin-bottom: 75px;
}

.picture-description {
  float: left;
  text-align: center;
  width: 400px;
  height: 256px;
  background-color: rgb(129, 179, 210);
}

.picture {
  float: right;
  height: 256px;
}

.reason-list {
  text-align: center;
  width: 1200px;
  min-height: 253px;
  margin-bottom: 50px;
}

.reason-point {
  float: left;
  width: 300px;
  height: 220px;
  margin-left: 75px;
}

.reason-picture-reverse {
   height: 256px;
   margin-bottom: 0px;
}

.picture-description-reverse {
  float: right;
  text-align: center;
  width: 400px;
  height: 256px;
  background-color: rgb(129, 179, 210);
}

.picture-reverse {
  float: left;
  height: 256px;
}

.reason-list-nopicture {
  text-align: center;
  width: 1200px;
  height: 253px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 63px;
}

.reason-point-nopicture {
  float: left;
  width: 300px;
  min-height: 180px;
  margin-left: 70px;
}

.if-interest-block {
  height: 290px;
  width: 1200px;
  background-color: rgb(255, 255, 255);
}

.if-interest-content {
   height: 102px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   width: 442px;
}

.map {
  background-image: url(../img/map.jpg);
  width: 1200px;
  height: 593px;
}

.search-block {
  text-align: center;
  width: 1200px;
}

.search-form {
  text-align: left;
  margin: 0 auto;
  height: 483px;
  width: 576px;
  background-color: rgb(255, 255, 255);
}

.search-name {
  background-color: rgb(118, 99, 87);
  display: block;
  width: 576px;
  height: 87px;
  margin: 0 auto;
  text-align: center;
}

.search-form-small {
  text-align: left;
  margin: 0 auto;
  height: 218px;
  background-image: url("../img/background.png");
}

.search-result {
  height: 90px;
  border-bottom: 1px solid grey;
}

.sorting-result {
  display: inline-block;
  margin-right: 50px;
  margin-left: 73px;
}

.sorting-header {
  display: inline-block;
  margin-right: 15px;
}

.sorting {
    list-style: none;
    display: inline-block;
}

.sorting-element {
  display: inline-block;
  margin-right: 30px;
}

.search-button {
  margin-right: 73px;
}

.up-button {
  display: inline-block;
  margin-left: 350px;
}

.down-button {
  display: inline-block;
  padding-right: 5px;
}

.hotel-type {
  height: 152px;
  border-bottom: 1px solid grey;
}

.left-article-type {
  width: 500px;
  height: 151px;
  float: left;
  margin-left: 73px;
  text-align: left;
}

.right-article-type {
  width: 300px;
  height: 151px;
  float: right;
  margin-right: 73px;
  text-align: right;
  background-image: url(../img/2stars.png);
  background-repeat: no-repeat;
}

.hotel-image {
  float: left;
  width: 167px;
}

.hotel-description {
  float: left;
  padding-top: 7px;
}

.article-img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.more-btn {
  background-color: rgb(129, 179, 210);
}

.book-btn {
  background-color: rgb(118, 99, 87);
}

.rate {
  background-color: rgb(242, 242, 242);
  display: inline-block;
  text-align: right;
  margin-top: 90px;
  height: 27px;
  width: 111px;
}

.article-info {
  display: inline-block;
  text-align: left;
  padding-right: 10px;
}

.article-price {
  display: inline-block;
  text-align: right;
}

.stars li {
  display: inline;
}

.footer-main {
  height: 120px;
  margin-left: 60px;
  margin-right: 60px;
}

.hashtag {
  width: 149px;
  height: 40px;
  padding-top: 30px;
  float: left;
}

.footer-social {
  width: 181px;
  height: 63px;
  float: left;
  padding-top: 40px;
  margin-left: 350px;
}

.social-btn {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
  background-color: rgb(129, 179, 210);
}

.footer-copyright {
  text-align: center;
  float: right;
  height: 40px;
  padding-top: 45px;
}

.html-academy {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 7px;
}

h2 {
  font-size: 16px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

h3 {
  font-size: 21px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

h4 {
  font-size: 21px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

h5 {
  font-size: 21px;
  line-height: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

h6 {
  font-size: 21px;
  line-height: 26px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.promo-speech {
  font-size: 14px;
  line-height: 26px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.picure-description {
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.main-question {
  font-size: 30px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.to-do {
  font-size: 14px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.sorting-header {
  font-size: 12px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  opacity: 0.3;
}

.rate {
  font-size: 14px;
  line-height: 21px;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.btn {
  font-size: 14px;
  line-height: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}

.html-academy {
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "PT Sans" "DIN Pro" sans-serif;
}
