body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  background-color: rgb(242, 242, 242);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow:
    1px 0px 8px lightgrey,
    -1px 0px 8px lightgrey;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/*Хедер*/

.main-navigation {
  margin-left: 72px;
  margin-right: 72px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a:hover {
  color: rgb(129, 179, 210);
}

.active a {
  color: rgb(118, 99, 87);
}

.navigation-element {
  min-width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.left-navigation {
  float: left;
  text-align: left;
}

.right-navigation {
  float: right;
  text-align: right;
}

.index-logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0px;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

/* Индексная */

.promo-picture {
  width: 1200px;
  height: 508px;
  background-position: center -56px;
  background-image: url(../img/mainphoto.jpg);
  background-color: rgb(129, 179,210);
}

.promo-block {
  width: 495px;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(255,255,255);
}

.promo-block h1 {
  padding-bottom: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.promo-speech {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}

.picture-reason {
   display: flex;
}

.picture-description {
  flex-grow: 2;
  display: inline-block;
  vertical-align: middle;
  padding-top: 44px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
}

.picture-number {
  padding-top: 24px;
  padding-bottom: 7px;
}

.picture-header {
  display: inline-block;
  vertical-align: middle;
  width: 140px;
  padding: 0;
  padding-top: 2px;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.picture-text {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.picture img {
  display: block;
}

.reason-list {
  display: flex;
  justify-content: space-around;
  padding-top: 58px;
  padding-bottom: 82px;
}

.reason-point {
  flex-basis: 290px;
  text-align: center;
}

.reason-header {
  display: block;
  padding-top: 6px;
  padding-bottom: 8px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.reason-point:nth-child(2) .reason-header {
  padding-top: 10px;
  padding-bottom: 6px;
}

.reason-point:nth-child(3) .reason-header {
  padding-bottom: 4px;
}

.picture-reason-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.picture-description-reverse {
  flex-grow: 2;
  display: inline-block;
  vertical-align: middle;
  padding-top: 29px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.picture-header-reverse {
  display: inline-block;
  vertical-align: middle;
  width: 151px;
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.picture-number-reverse {
  padding-top: 6px;
  padding-bottom: 7px;
}

.picture-text-reverse {
  display: inline-block;
  vertical-align: middle;
  width: 314px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.reason-list-nopicture {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 47px;
  background-color: rgb(238, 238, 238);
}

.reason-point-nopicture {
  flex-basis: 270px;
  text-align: center;
}

.reason-point-nopicture div {
  padding-bottom: 7px;
}

.reason-header-nopicture {
  display: inline-block;
  max-width: 130px;
  padding-bottom: 6px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.if-interest-block {
  padding-bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.if-interest-content {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 54px;
   text-align: center;
}

.main-question {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.main-answer {
  padding-top: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
}

.search-open {
  padding-top: 35px;
}

.search-name {
  display: block;
  vertical-align: middle;
  width: 568px;
  min-height: 56px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
  border: none;
  cursor: pointer;
}

.search-block {
  position: relative;
  width: 100%;
  min-height: 592px;
  background-image: url(../img/map.jpg);
  background-color: rgb(255, 255, 255);
}

.search-basis {
  position: absolute;
  left: 315px;
  top: -3px;
  width: 568px;
  background-color: rgb(255, 255, 255);
  box-shadow:
    1px 0px 8px lightgrey,
    -1px 0px 8px lightgrey,
    0px 1px 8px lightgrey;
}

.search-form {
  padding-top: 60px;
  padding-bottom: 55px;
  padding-left: 56px;
  padding-right: 0px;
  text-align: left;
  font-size: 0px;
}

.search-first-row {
  height: 42px;
  padding-bottom: 24px;
}

.search-second-row {
  height: 42px;
  padding-bottom: 27px;
}

.search-third-row {
  display: inline-block;
  width: 255px;
  height: 42px;
  padding-bottom: 49px;
}

.search-fourth-row {
  display: inline-block;
  width: 206px;
  height: 42px;
  padding-bottom: 49px;
}

.search-first-row input {
  position: relative;
  width: 296px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 38px;
	background: rgb(242, 242, 242);
  box-shadow: none;
  border: none;
}

.search-first-row input:hover {
	background: rgb(235, 235, 235);
}

.search-first-row input:focus {
  width: 296px;
  height: 34px;
  padding-left: 10px;
	background: rgb(255, 255, 255);
  border: 2px solid rgb(235, 235, 235);
}

.calendar {
  position: absolute;
  right: 65px;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  text-decoration: none;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.calendar::before {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.calendar-first::before {
  width: 21px;
  height: 22px;
  background-position: -92px -10px;
}

.calendar-second::before {
  width: 21px;
  height: 22px;
  background-position: -92px -10px;
}

.calendar-first:hover::before {
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
}

.calendar-second:hover::before {
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
}

.calendar-first:focus::before {
  width: 21px;
  height: 22px;
  background-position: -51px -10px;
}

.calendar-second:focus::before {
  width: 21px;
  height: 22px;
  background-position: -51px -10px;
}

.search-second-row input {
  width: 296px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-right: 37px;
	background: rgb(242, 242, 242);
  box-shadow: none;
  border: none;
}

.search-second-row input:hover {
	background: rgb(235, 235, 235);
}

.search-second-row input:focus {
  width: 296px;
  height: 34px;
  padding-left: 10px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(235, 235, 235);
}

.search-third-row input {
  width: 25px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 35px;
	background: rgb(242, 242, 242);
  box-shadow: none;
  border: none;
}

.search-third-row input:hover {
	background: rgb(235, 235, 235);
}

.search-third-row input:focus {
  width: 25px;
  height: 34px;
  padding-left: 53px;
  padding-right: 33px;
	background: rgb(255, 255, 255);
  border: 2px solid rgb(235, 235, 235);
}

.search-third-row .plus-button {
  position: absolute;
  right: 296px;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  font-size: 0;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.search-fourth-row .plus-button {
  position: absolute;
  right: 63px;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  font-size: 0;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.search-third-row .minus-button {
  position: absolute;
  right: 373px;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  font-size: 0;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.search-fourth-row .minus-button {
  position: absolute;
  right: 143px;
  display: inline-block;
  vertical-align: top;
  height: 38px;
  font-size: 0;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.minus-button::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-position: -920px -10px;
  background-repeat: no-repeat;
}

.minus-button:hover::before {
  background-position: -856px -10px;
  background-repeat: no-repeat;
}

.minus-button:focus::before {
  background-position: -888px -10px;
  background-repeat: no-repeat;
}

.plus-button::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-position: -1014px -10px;
  background-repeat: no-repeat;
}

.plus-button:hover::before {
  background-position: -952px -10px;
  background-repeat: no-repeat;
}

.plus-button:focus::before {
  background-position: -983px -10px;
  background-repeat: no-repeat;
}

.search-fourth-row input {
  width: 25px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-right: 35px;
	background: rgb(242, 242, 242);
  box-shadow: none;
  border: none;
}

.search-fourth-row input:hover {
	background: rgb(235, 235, 235);
}

.search-fourth-row input:focus {
  width: 25px;
  height: 34px;
  padding-left: 53px;
	background: rgb(255, 255, 255);
  border: 2px solid rgb(235, 235, 235);
}

.search-first-row label {
  position: relative;
  padding-right: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.search-second-row label {
  position: relative;
  padding-right: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.search-third-row label {
  position: relative;
  padding-right: 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.search-fourth-row label {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.search-form-button {
  width: 458px;
  height: 58px;
}

.search-form-button input {
  width: 458px;
  height: 58px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.search-form-button input:hover {
  background-color: rgb(102, 158, 192);
}

.search-form-button input:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.date-in, .date-out, .children, .adults {
  padding-left: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: inherit;
}

input:-moz-placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: inherit;
}

input::placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: inherit;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: inherit;
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: inherit;
}

/*Каталог*/

.search-form-small-block  {
  background: grey url("../img/background.png");
}

.search-form-small {
  padding-top: 26px;
  padding-bottom: 6px;
  padding-left: 71px;
  padding-right: 70px;
}

.search-form-small-left label, .search-form-small-left input {
  display: block;
}

.search-form-small-middle label, .search-form-small-middle input {
  display: block;
}

.search-form-small-left {
  float:left;
}

.search-form-small-middle {
  float: left;
  margin-left: 119px;
}

.search-form-small-right {
  float: right;
}

.minor-header-form {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.search-form-small-left label {
  margin-left: 30px;
  padding-bottom: 25px;
  padding-left: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.search-form-small-middle label {
  margin-left: 30px;
  padding-bottom: 25px;
  padding-left: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.search-form-small-basis input[type="checkbox"] {
  display: none;
}

.search-form-small-basis input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
}

.search-form-small-basis input[type="checkbox"] + label::before {
  position: absolute;
  top: 0px;
  left: -30px;
  display: block;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -173px -10px;
}

.search-form-small-basis input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 0px;
  left: -30px;
  display: block;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -349px -10px;
}

.search-form-small-basis input[type="checkbox"]:disabled + label::before {
  position: absolute;
  top: 0px;
  left: -30px;
  display: block;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -133px -10px;
}

.search-form-small-basis input[type="checkbox"]:disabled:checked + label::after {
  position: absolute;
  top: 0px;
  left: -30px;
  display: block;
  width: 25px;
  height: 25px;
  content: "";
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -259px -10px;
}

.filter-range {
  width: 320px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.filter-range-title {
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  content: "";
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 83px;
  padding-left: 65px;
}

.price-controls input {
  display: inline-block;
  width: 50px;
  height: 32px;
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: rgb(255, 255, 255);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: rgb(28, 79, 128);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 86px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.search-result {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 0;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.search-result-left {
  float: left;
  margin-left: 73px;
}

.search-result-right {
  float: right;
  margin-right: 73px;
  padding-top: 11px;
}

.search-found {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  margin-right: 47px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.sorting-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.sorting {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.sorting-element {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 30px;
}

.sorting .sorting-active a {
  text-decoration: none;
  color: rgb(129, 179, 210);
  border: none;
}

.sorting .sorting-active a:hover {
  text-decoration: none;
  color: rgb(129, 179, 210);
  border: none;
}

.sorting-element a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.sorting-element a:hover {
  text-decoration: none;
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.sorting-element a:focus {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
}

.sorting-element a:active {
  text-decoration: none;
  color: rgb(129, 179, 210);
  border: none;
}

.search-button {
  margin-right: 73px;
}

.down-button {
  float: right;
  display: block;
  height: 25px;
  width: 20px;
  font-size: 0;
}

.down-button::before {
  position: absolute;
  top: 39px;
  right: 74px;
  content: "";
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgb(204, 204, 204);
}

.search-result-right .active-button::before {
  position: absolute;
  top: 39px;
  right: 74px;
  content: "";
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgb(129, 179, 210);
}

.search-result-right .active-button:hover::before {
  position: absolute;
  top: 39px;
  right: 74px;
  content: "";
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgb(129, 179, 210);
}

.down-button:hover::before {
  position: absolute;
  top: 39px;
  right: 74px;
  width: 0;
	height: 0;
  content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgb(0, 0, 0);
}

.down-button:focus::before {
  position: absolute;
  top: 39px;
  right: 74px;
  width: 0;
  height: 0;
  content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgb(129, 179, 210);
}

.up-button {
  float: right;
  display: block;
  width: 20px;
  height: 25px;
  font-size: 0;
}

.up-button::before {
  position: absolute;
  top: 39px;
  right: 97px;
  width: 0;
  height: 0;
  content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid rgb(204, 204, 204);
}

.up-button:hover::before {
  position: absolute;
  top: 39px;
  right: 97px;
  width: 0;
	height: 0;
  content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid rgb(0, 0, 0);
}

.up-button:focus::before {
  position: absolute;
  top: 39px;
  right: 97px;
  width: 0;
  height: 0;
  content: "";
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid rgb(129, 179, 210);
}

.hotel-type {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.left-article-type {
  float: left;
  margin-left: 73px;
}

.hotel-image {
  float: left;
  padding-right: 30px;
  padding-top: 5px;
}

.hotel-description {
  float: left;
}

.hotel-name {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.hotel-name:focus {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-name:hover {
  color: rgb(129, 179, 210);
}

.article-text {
  width: 257px;
  padding-bottom: 13px;
}

.article-info {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  text-align: left;
}

.article-price {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 142px;
}

.more-btn {
  display: inline-block;
  vertical-align: middle;
  width: 109px;
  height: 24px;
  margin-right: 3px;
  padding-top: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(129, 179, 210);
}

.more-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 158, 192);
}

.more-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(84, 150, 189);
}

.book-btn {
  display: inline-block;
  vertical-align: middle;
  width: 142px;
  height: 24px;
  padding-top: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.book-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(96, 78, 67);
}

.book-btn:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(80, 62, 51);
}

.right-article-type {
  float: right;
  margin-right: 73px;
}

.rate {
  display: inline-block;
  vertical-align: middle;
  width: 109px;
  height: 23px;
  margin-top: 35px;
  padding-top: 5px;
  font-family: "PT Sans", "DIN Pro", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(102, 102, 102);
  background-color: rgb(242, 242, 242);
}

.stars-block {
  transform: scaleX(-1);
}

.stars-list {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.stars-list li {
  display: inline-block;
  vertical-align: baseline;
  width: 20px;
  height: 25px;
  margin: 0;
  padding: 0;
  padding-right: 4px;
  text-align: right;
  background-image: url(../img/2stars.png);
  background-repeat: no-repeat;
}

/*Футер*/

.footer-main {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 0;
}

.footer-opacity {
  position: absolute;
  bottom: 0px;
  min-width: 1200px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  float: left;
  width: 300px;
  margin: 0;
  margin-left: 133px;
  padding: 0;
  padding-top: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.footer-social {
  float: left;
  width: 300px;
  margin-left: 92px;
  padding-bottom: 6px;
}

.footer-copyright {
  float: right;
  width: 300px;
  padding-top: 6px;
}

.html-academy {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
  padding-left: 3px;
  padding-top: 5px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.copyright-img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 112px;
  height: 43px;
  font-size: 0;
  text-decoration: none;
}

.copyright-img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.link-img::before {
  width: 113px;
  height: 39px;
  background-position: -457px -10px;
}

.link-img:hover::before {
  width: 113px;
  height: 39px;
  background-position: -590px -10px;
}

.link-img:focus::before {
  width: 113px;
  height: 39px;
  background-position: -723px -10px;
}

.social-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  text-decoration: none;
  background-color: rgb(129, 179, 210);
}

.social-btn:hover {
  background-color: rgb(102, 158, 192);
}

.social-btn:focus {
  background-color: rgb(84, 150, 189);
}

.social-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social-btn-facebook::before {
  width: 10px;
  height: 19px;
  background-position: -397px -10px;
}

.social-btn-facebook:focus::before {
  width: 10px;
  height: 19px;
  background-position: -427px -10px;
}

.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -1045px -10px;
}

.social-btn-twitter:focus::before {
  width: 17px;
  height: 15px;
  background-position: -1082px -10px;
}

.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -1119px -10px;
}

.social-btn-youtube:focus::before {
  width: 20px;
  height: 16px;
  background-position: -1159px -10px;
}
